h1,
h2,
h3 {
  color: #f9a826;
  background-color: transparent;
  text-align: center;
  text-shadow: -1px -1px 0 #ffff, 1px -1px 0 #ffff, -1px 1px 0 #ffff,
    1px 1px 0 #ffff;
}
p {
  text-align: center;
  color: #ffff;
  background-color: transparent;
}
i {
  color: #ffff;
}
ul {
  padding: 0;
  list-style: none;
  border-radius: 10%;
  margin: 25px 10px;
}
.btn-group-toggle {
  width: 50%;
  margin: 0px 100px;
}

.card-img {
  width: 50%;
  margin: 0px 325px;
  border-radius: 10%;
  border: 1px solid orange;
}
.weather-person {
  width: 50%;
  margin: 10px 100px 20px;
  background-color: rgba(249, 168, 38, 0.25);
  border-radius: 10%;
}
#location-form {
  text-align: center;
  background-color: transparent;
  margin-bottom: 10px;
}
.info-grid,
.week-grid {
  margin: 30px 0px 20px;
  color: #ffff;
  text-align: center;
  font-size: small;
  background-color: rgba(150, 95, 6, 0.8);
  border-radius: 10px;
}

#current-desc:first-letter {
  text-transform: capitalize;
}

#icon {
  text-align: center;
  color: #ffff;
  margin: 0;
  background-color: rgba(150, 95, 6, 0.8);
  border-radius: 10px;
}
#search {
  height: 38px;
}
a {
  color: #ffff;
}
.day-load-low {
  opacity: 0.65;
}
